/*ESTILOS CANVAS Y TABLERO*/
/*
*{
    box-sizing: border-box;
}

table{
    transition: all 1s;
    background: #a29898;
    margin: auto;
    border-spacing: 0;
}

td{
    transition: all 1s;
    border: 1px solid #2f2d2d;
    width: 30px;
    height: 30px;
    box-sizing: border-box;
    text-align: center;
    box-shadow: inset 3px 3px 0 0 #eee9e9,inset -3px -3px 0 0 #343131;
}

 */