/*ESTILOS CANVAS Y TABLERO*/

#game {
    margin-left: 5%;
    margin-top: 75px;
    width: 800px;
    height: 400px;
    display: flex;
    z-index: 3;
    background-color: #ffffff00;
}

#tablero {
    width: 800px;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    margin-left: 5%;
    margin-top: 75px;
    z-index: 2;
  }

  .casilla {
    width: calc(100% / 10);
    height: calc(100% / 5);
    border: 1px solid #2f2d2d;
    box-sizing: border-box;
    background: #d2cccc;
  }
