/*ESTILOS DEL HEADER, FOOTER Y GENERALES*/

body {
    background-color: #2d2d2d;
    display: flex;
}

h1 {
    font-family: 'Aclonica', 'fantasy', sans-serif;
    color: #001ed1;
    font-size: 250%;
    margin-bottom: 10%;
}

.bicolor {
    color: #db3b26;
}

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: left;
    text-align: center;
    line-height: 0.9;
    padding: 10px;
    color: white;
    font-size: 80%;
    font-family: 'Aclonica', 'fantasy', sans-serif;
}

a {
    color: #db3b26;
    transition: all 0.3s ease;
    font-size: 100%;
}

a:hover {
    color: #db3b26;
    font-size: 1.3em;
}

a:active {
    color: #001ed1;
}