/* Media query - tablets */
/*
@media only screen and (max-width: 1024px) {
    h1 {
        font-size: 200%;
    }

    #input {
        line-height: 150%;
        grid-template-columns: auto;
    }

    .gamemode {
        height: 30px;
        width: 75px;
    }

    .menu {
        flex-direction: column;
        max-height: none;
        padding-top: 15%;
        column-gap: 0;
        row-gap: 5%;
    }

    canvas.game {
        width: 100%;
        height: 300px;
        margin-top: 30px;
    }

    section.input,
    section.tablero {
        width: 100%;
    }
}

 */

/* Media query - phones */
/*
@media only screen and (max-width: 600px) {
    h1 {
        font-size: 150%;
    }

    #input {
        line-height: 150%;
        grid-template-columns: auto auto;
    }

    .gamemode {
        height: 30px;
        width: 75px;
    }

    .menu {
        flex-direction: column;
        max-height: none;
        padding-top: 15%;
        column-gap: 0;
        row-gap: 5%;
    }

    canvas.game {
        border: 1px solid black;
        width: 100%;
        height: 300px;
        margin-top: 30px;
    }

    section.input{
        width: 100%;
    }
}

 */