body {
    background-color: #2d2d2d;
    display: flex;
}

h1 {
    font-family: 'Aclonica', 'fantasy', sans-serif;
    color: #001ed1;
    font-size: 250%;
    margin-bottom: 10%;
}

.bicolor {
    color: #db3b26;
}

.selector {
    font-family: 'Aclonica', 'fantasy', sans-serif;
    font-weight: lighter;
    color: #c2c2c2;
    line-height: 10%;
    display: grid;
    column-gap: 50px;
    row-gap: 15px;
    grid-template-columns: max-content max-content;
}

.gamemode {
    background-color: #c2c2c2;
    border-radius: 20% 15% 20% 15%;
    position: relative;
    height: 40px;
    width: 100px;
    font-size: 100%;
    font-family: 'Aclonica', 'fantasy', sans-serif;
    font-weight: lighter;
}

.menu {
    display: grid;
    padding-top: 5%;
    column-gap: 5%;
    row-gap: 5%;
    max-width: 300px;
    max-height: 75px;
    z-index: 1;
    display: flex;
    object-position: center;
    font-family: 'Aclonica', 'fantasy', sans-serif;
    color: #c2c2c2;
    text-align: center;
}

.info {
    margin-top: 15px;
}

.parainfo {
    z-index: 2;
    max-width: 50px;
    width: 90%;
    padding-left: 3%;
}

button {
    background-color: transparent;
    border: none;
}

.parainfo#restart:hover {
    transform: rotate(360deg);
    transition-duration: 3s;
}

canvas.game {
    background-color: #1f1f1f;
    margin-left: 5%;
    margin-top: 75px;
    width: 800px;
    height: 400px;
}

section.input {
    width: 50%;
}

section.tablero {
    width: 50%;
}
footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: left;
    text-align: center;
    line-height: 0.9;
    padding: 10px;
    color: white;
    font-size: 80%;
    font-family: 'Aclonica', 'fantasy', sans-serif;
}
a {
    color: #db3b26;
    transition: all 0.3s ease;
    font-size: 100%;;
}

a:hover{
    color: #db3b26;
    font-size: 1.3em;
}

a:active {
    color: #001ed1;
}

@media only screen and (max-width: 600px) {
    h1 {
        font-size: 150%;
    }

    .selector {
        line-height: 150%;
        grid-template-columns: auto auto;
    }

    .gamemode {
        height: 30px;
        width: 75px;
    }

    .menu {
        flex-direction: column;
        max-height: none;
        padding-top: 15%;
        column-gap: 0;
        row-gap: 5%;
    }
}