body{
    background-color: #2d2d2d;
}

h1{
    font-family: 'Aclonica', sans-serif;
    color: #001ed1;
    font-size: 250%;
    margin-bottom: 1%;
}

.bicolor{
    color: #db3b26;
}

.gamemode{
    background-color: #c2c2c2;
    border-radius: 20% 15% 20% 15%;
    position: relative;
    height: 25px;
    width: 8%;
}

canvas{
    background-color: #c2c2c2;
    border-color: #1f1f1f;
    margin-left: 5%;
}

canvas.game{
    position: center;
    width: 400px;
    height: 400px;
}

div.menu{
    position: center;
    width: 400px;
    height: 75px;
    z-index: 1;
    background-color: #c2c2c2;
    margin-left: 5%;
    margin-top: 2%;
    margin-bottom: 2%;
}

#bomb_menu{
    z-index: 2;
    position: absolute; top: 23%; left: 6%;
    width:55px;
}
#timer{
    z-index: 2;
    position: absolute; top: 23%; left: 17.5%;
    width:60px;
}
#restart{
    z-index: 2;
    position: absolute; top: 23%; left: 29%;
    width:60px;
}